@import '../palette';

.Input {
	display: flex;
}

.Input-textarea {
	border: 1px solid #888; 
	resize: none;
	width: 100%;
	border-radius: 6px;
	outline: none;
}

.Input-button {
	margin-left: 12px;
	background: #f6d8ae;
	background-image: -webkit-linear-gradient(top, #f6d8ae, #ffffff);
	background-image: -moz-linear-gradient(top, #f6d8ae, #ffffff);
	background-image: -ms-linear-gradient(top, #f6d8ae, #ffffff);
	background-image: -o-linear-gradient(top, #f6d8ae, #ffffff);
	background-image: linear-gradient(to bottom, #f6d8ae, #ffffff);
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	font-family: Arial;
	color: #2e4057;
	font-size: 20px;
	text-weight: bolder;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.Input-button:hover {
	background: #f5eaae;
	background-image: -webkit-linear-gradient(top, #f5eaae, #ece4f5);
	background-image: -moz-linear-gradient(top, #f5eaae, #ece4f5);
	background-image: -ms-linear-gradient(top, #f5eaae, #ece4f5);
	background-image: -o-linear-gradient(top, #f5eaae, #ece4f5);
	background-image: linear-gradient(to bottom, #f5eaae, #ece4f5);
	text-decoration: none;
}