/* Coolors Exported Palette - coolors.co/f6d8ae-a9e5bb-2e4057-2d1e2f-f4ecd6 */

/* HSL */
$background-recipient: #f6d8ae;
$background-user: #a9e5bb;
$body: #2e4057;
$heading: #2d1e2f;
$background: #f4ecd6;

/* RGB */
// $color1: rgba(246, 216, 174, 1);
// $color2: rgba(169, 229, 187, 1);
// $color3: rgba(46, 64, 87, 1);
// $color4: rgba(45, 30, 47, 1);
// $color5: rgba(244, 236, 214, 1);