/* Coolors Exported Palette - coolors.co/f6d8ae-a9e5bb-2e4057-2d1e2f-f4ecd6 */

/* HSL */
$background-recipient: hsla(35%, 80%, 82%, 1);
$background-user: hsla(138%, 54%, 78%, 1);
$body: hsla(214%, 31%, 26%, 1);
$heading: hsla(293%, 22%, 15%, 1);
$background: hsla(44%, 58%, 90%, 1);

/* RGB */
// $color1: rgba(246, 216, 174, 1);
// $color2: rgba(169, 229, 187, 1);
// $color3: rgba(46, 64, 87, 1);
// $color4: rgba(45, 30, 47, 1);
// $color5: rgba(244, 236, 214, 1);